.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      .panel-heading
        %h1 новая статья
      .panel-body
        = render 'form'

        %p= link_to 'Назад', articles_path, class: 'btn btn-default'
