.col-lx-12
  #pics.transitions-enabled
    - @pics.each do |pic|
      .box.panel.panel-default
        = link_to (image_tag pic.image.url), pic
        %h2= link_to pic.title, pic
        = link_to "доавить в корзину", add_pic_path(pic), class: "btn btn-default" 



