<p>Чтобы быть уверенным в том, что это Вы заказали товар, повторите заказ на  электронную почту по адресу: <mark> rna252240@yandex.ru </mark> </p>
    <h1>Бланк заказа саженцев винограда </h1>
    

      
    

   <p> ФИО (полностью)_____________________________________________________________ </p> 
    

   <p> Индекс______________________ </p>
    

    <p>Домашний  адрес ________________________________________________ </p>
    

    <p> Контактный телефон______________________________________________ </p>
    

      <p>  Эл. адрес ________________________________________________________ </p>

    <p> Название товара: количество</p>    

       <p>  Заказ на посадочный материал винограда принимается только после 100% предоплаты, что говорит о серьезности намерений заказчика. Обязательно согласуйте наличие сортов и количество саженцев, и только после моего подтверждения, что Ваш заказ принят, можно производить оплату. </p>
        

       <p>  Минимальная сумма почтового заказа – 1500 рублей + от 500 рублей пересылка. Оплата заказа принимается в течение 7 календарных дней со дня принятия заказа, если в течение этого срока подтверждение оплаты не приходит, то заказ аннулируется. 
        </p>

      <h3>  Способы оплаты: </h3>
        

          <p>  на почтовый адрес: 644033 г. Омск, ул. 10 Северная , д. 92,  </p>
            

            <p>    2. на карточку Сбербанка (реквизиты сообщаю в личку или на е-мail) </p>
        

      <p>  Саженцы винограда реализуются весной, в безморозный период апрель – май на месте или высылаются транспортной компанией в этот же период времени, в строгом соответствии с очерёдностью поступления предоплаты за заказ. Просьбы внеочередного выполнения заказа не рассматриваются. </p>
        

      <p>  Если вместо цены указано 2017, 2018 - это означает, что на  2016 год саженцев этого сорта не будет. Заказы по этим сортам принимаются на весну 2017 года (на отдельном бланке) по фиксированной цене 300 рублей за саженец. Или дождитесь весны 2017 года и закажите саженец по той цене, которая сложится в соответствии с ростом инфляции на весну 2017 года. </p>
        

      <p>  Стоимость пересылки по России смотрите в интернете. Пересылаю любой транспортной компанией. Выберите тот способ доставки Вашего заказа, который наиболее подходит для Вас. Хранение заказа до отправки бесплатно.  </p>
        

      <p>   По Омску доставка осуществляется курьерской службой, стоимость от 230-600 руб. </p>

        

          
        

      <p>  ОБРАЩАЮ ВАШЕ ВНИМАНИЕ: ЧЕМ РАНЬШЕ БУДЕТ ОФОРМЛЕН И ОПЛАЧЕН ЗАКАЗ, ТЕМ БОЛЬШЕ ВЕРОЯТНОСТЬ ТОГО, ЧТО ОТКАЗА В ОТПРАВКЕ ТОГО ИЛИ ИНОГО РАСТЕНИЯ НЕ БУДЕТ. КАЖДОЙ ПОЗИЦИИ В КАТАЛОГЕ НЕ БЕЗГРАНИЧНО. ЗАЧАСТУЮ ВСЕГО ПО НЕСКОЛЬКО ШТУК. ПОЭТОМУ ОЧЕНЬ РЕКОМЕНДУЮ НЕ ОТКЛАДЫВАТЬ В ДОЛГИЙ ЯЩИК И ДЕЛАТЬ ЗАКАЗ ЗАРАНЕЕ!  </p>